venv
.idea
__pycache__
out
dist
.ipynb_notebooks
week_1/__pycache__
week_1/.ipynb_notebooks
week_1/initialization/__pycache__
week_1/initialization/.ipynb_notebooks
week_1/regularization/__pycache__
week_1/regularization/.ipynb_notebooks
week_1/gradient-checking/__pycache__
week_1/gradient-checking/.ipynb_notebooks
week_2/__pycache__
week_2/.ipynb_notebooks
week_2/optimization-methods/.ipynb_notebooks
week_3/__pycache__
week_3/.ipynb_notebooks
week_3/tensorflow-tutorial/.ipynb_notebooks
